################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/PK.GRPC.Utilities.Test.Server/obj/Debug
/PK.GRPC.Utilities.Test.Client/obj/Debug
/PK.GRPC.Utilities/obj
/PK.GRPC.Utilities/bin/Debug
/PK.GRPC.Utilities/bin/Release
/PK.GRPC.Utilities.Test.Client/bin/Release
/PK.GRPC.Utilities.Test.Client/obj/Release
/PK.GRPC.Utilities.Test.Server/bin/Release
/PK.GRPC.Utilities.Test.Server/obj/Release
